@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
:root {
  --text-color: rgb(20, 20, 20);
  --main-background-color: #c4eedd;
  --additional-background-color: rgb(223, 223, 223);
  --popup-color: rgb(240, 240, 240);
  scroll-behavior: smooth;
  color: var(--text-color);
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}
